.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem 0;

    height: calc(100vh - 5rem);
  }
}

.hero {
  max-width: 600px;

  & > span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: 600;
    }
  }

  button {
    margin-top: 2.5rem;
    color: none;
  }
}

@media (max-width: 720px) {
  .contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    section {
      margin: 5rem 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      & > img {
        width: 10rem;
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    & > span {
      display: none;
    }

    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      font-weight: 900;
      margin-top: 2.5rem;

      span {
        color: var(--cyan-500);
      }
    }

    button {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 411px) {
  .contentContainer {
    h1 {
      font-size: 3rem;
      margin: 0;
    }
  }
}

@media (max-width: 378px) {
  .contentContainer {
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 360px) {
  .contentContainer {
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    p {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

@media (height: 812px) {
  .contentContainer {
    .hero {
      h1 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 900;
        margin-top: 2.5rem;

        span {
          color: var(--cyan-500);
        }
      }

      p {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 1.5rem;

        span {
          color: var(--cyan-500);
          font-weight: 600;
        }
      }

      button {
        margin-top: 2.5rem;
      }
    }
  }
}
